<section id="dashboard" class="h-screen w-screen bg-gray-100">
    <div class="flex w-full h-full relative">
        <!-- Navbar-->
        <div class="w-screen flex flex-col gap-3 fixed z-10">
            <app-navbar></app-navbar>
        </div>

        <!-- Content -->
        <div class="flex flex-col gap-3 px-5 w-full pt-[14rem]">
            <!-- Breadcrumbs & Buttons -->
            <div class="flex w-full h-14 gap-2 px-2 justify-between items-center">
                <app-breadcrumbs></app-breadcrumbs>

                <div *ngIf="ButtonNavigation" class="flex gap-3">
                    <p-button *ngFor="let item of ButtonNavigation" severity="info" styleClass="p-button-sm"
                        [label]="item.title" [icon]="item.icon" (onClick)="handleClickButtonNavigation(item)">
                    </p-button>
                </div>
            </div>

            <!-- Content -->
            <div class="w-full px-2 overflow-y-auto bg-transparent mb-4">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</section>