<div id="navbar" class="flex flex-col w-full shadow pt-12 px-12">
    <!-- Heading -->
    <div class="flex w-full gap-2 justify-between items-center mb-5">
        <div class="flex items-center gap-5">
            <img src="../../../assets/image/logo.png" alt="logo" class="h-[100px] w-[100px]">

            <div *ngIf="Breadcrumbs$ | async as breadcrumbs" class="flex gap-2 flex-col">
                <p class="text-gray-300 text-base">
                    {{ breadcrumbs[0] }}
                </p>

                <p class="text-gray-100 text-xl font-semibold">
                    Universitas Negeri Medan
                </p>
            </div>
        </div>

        <div *ngIf="User$ | async as user" class="flex items-center gap-8">
            <span class="text-gray-100 cursor-pointer">
                <i class="pi pi-bell"></i>
            </span>

            <span class="text-gray-100 cursor-pointer">
                <i class="pi pi-th-large"></i>
            </span>

            <span class="text-gray-100 cursor-pointer">
                <p-avatar (click)="menu.toggle($event)" [label]="user.full_name[0]" styleClass="mr-2"
                    [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" />

                <p-menu #menu [model]="UserMenu" [popup]="true" appendTo="body" />
            </span>
        </div>
    </div>

</div>