<div id="navbar" class="flex flex-col w-full shadow pt-12 px-12">
    <!-- Heading -->
    <div class="flex w-full gap-2 justify-between items-center mb-5">
        <div *ngIf="IdentitasState$ | async as identitas" class="flex items-center gap-5">
            <img [src]="identitas.logo | safeUrl: 'url'" alt="logo" class="h-[100px] w-[100px]">

            <div class="flex gap-2 flex-col">
                <p *ngIf="Breadcrumbs$ | async as breadcrumbs" class="text-gray-300 text-base">
                    {{ breadcrumbs[0] }}
                </p>

                <p class="text-gray-100 text-xl font-semibold">
                    {{ identitas.name }}
                </p>
            </div>
        </div>

        <div *ngIf="User$ | async as user" class="flex items-center gap-8">
            <span class="text-gray-100 cursor-pointer">
                <i class="pi pi-bell"></i>
            </span>

            <span class="text-gray-100 cursor-pointer" (click)="handleNavigateToMenu('/list-module')">
                <i class="pi pi-th-large"></i>
            </span>

            <span class="text-gray-100 cursor-pointer">
                <p-avatar *ngIf="user.photo" [image]="user.photo | safeUrl: 'url'" styleClass="mr-2" shape="circle" />

                <p-avatar *ngIf="!user.photo" (click)="menu.toggle($event)" [label]="user.first_name[0]"
                    styleClass="mr-2" shape="circle" [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" />

                <p-overlayPanel #menu>
                    <div class="flex flex-col gap-4 p-5 w-auto bg-white rounded-lg">
                        <div
                            class="w-full flex items-center pb-3 border-b border-x-0 border-t-0 border-gray-200 border-solid">
                            <p-avatar *ngIf="user.photo" [image]="user.photo | safeUrl: 'url'" styleClass="mr-2"
                                shape="circle" />

                            <p class="text-gray-700 text-sm">
                                {{ user.first_name }} {{ user.last_name }}
                            </p>
                        </div>
                        <p *ngFor="let sub of UserMenu" class="text-gray-700 text-sm cursor-pointer"
                            (click)="sub.command()!">
                            <i [class]="sub.icon" style="font-size: 12px"></i>&nbsp; {{ sub.label }}
                        </p>
                    </div>
                </p-overlayPanel>
            </span>
        </div>
    </div>

    <!-- Menu -->
    <div *ngIf="Menu$ | async as menu" class="flex w-full gap-5 mt-2 mb-[1px]">
        <div *ngFor="let item of menu"
            class="flex px-5 pb-1 cursor-pointer 
            {{ SelectedMenu && SelectedMenu.menu_id == item.menu_id ? 'border-b-2 border-t-0 border-x-0 border-white border-solid' : 'border-b-2 border-t-0 border-x-0 border-transparent border-solid ' }}">
            @if(item.sub_menu) {
            <div (click)="op.toggle($event); SelectedMenu = item">
                <p class="text-sm text-white">
                    {{ item.menu_name }}
                    <i *ngIf="item.sub_menu" class="pi pi-chevron-down ml-2" style="font-size: 11px"></i>
                </p>

                <p-overlayPanel #op>
                    <div class="flex flex-col gap-4 p-5 w-auto bg-[#295AA3] rounded-lg">
                        <p *ngFor="let sub of item.sub_menu" class="text-gray-50 text-sm cursor-pointer"
                            (click)="handleNavigateToMenu(sub.menu_path!)">
                            {{ sub.menu_name }}
                        </p>
                    </div>
                </p-overlayPanel>
            </div>
            } @else {
            <p class="text-sm text-white" (click)="handleNavigateToMenu(item.menu_path!); SelectedMenu = item">
                {{ item.menu_name }}
                <i *ngIf="item.sub_menu" class="pi pi-chevron-down ml-2" style="font-size: 11px"></i>
            </p>
            }
        </div>
    </div>
</div>