<app-dashboard>
    <!-- User -->
    <div *ngIf="UserData$ | async as user"
        class="flex w-full gap-3 items-center p-5 rounded-lg shadow-sm bg-white mb-5 ">
        <div class="flex">
            <img src="../../../assets/icon/user.png" alt="user" class="h-14 w-14">
        </div>

        <div class="flex flex-col gap-0">
            <p class="text-slate-700 text-3xl font-semibold">
                Welcome, {{ user.full_name | titlecase }}
            </p>

            <p class="text-slate-600 text-sm">
                <i class="pi pi-home" style="font-size: 12px; margin-right: 3px"></i>
                {{ user.company_name }}
            </p>
        </div>
    </div>

    <!-- Counter -->
    <div class="flex flex-row items-start w-full mt-5 gap-5">
        <!-- List Channel TV -->
        <div class="flex flex-col w-8/12 bg-white rounded-lg shadow-sm p-3 gap-4 overflow-hidden"
            style="height: calc(100vh - 14.5rem);">
            <!-- <app-list-channel-tv #ListChannelTvComps></app-list-channel-tv> -->
        </div>

        <!-- Counting -->
        <div class="flex flex-col w-4/12">
            <div class="grid grid-cols-2 grid-row-2 w-full gap-4 mb-5">
                <!-- Pasien Terlayani -->
                <div class="flex flex-col w-full rounded-lg shadow-sm bg-white p-3">
                    <div class="flex w-full items-start mb-3">
                        <p class="text-sky-500 font-medium text-5xl text-center">
                            {{ GreetingCards }}
                        </p>

                        <span class="ml-auto cursor-pointer">
                            <i class="pi pi-arrow-up-right text-gray-600" style="font-size: 13px"></i>
                        </span>
                    </div>

                    <p class="text-gray-700 text-sm">
                        Pelanggan
                    </p>
                </div>

                <!-- Total -->
                <div class="flex flex-col w-full rounded-lg shadow-sm bg-white p-3 justify-center">
                    <div class="flex w-full items-start mb-3">
                        <p class="text-sky-500 font-medium text-5xl text-center">
                            {{ Facilities }}
                        </p>

                        <span class="ml-auto cursor-pointer">
                            <i class="pi pi-arrow-up-right text-gray-600" style="font-size: 13px"></i>
                        </span>
                    </div>

                    <p class="text-gray-700 text-sm">
                        Cabang
                    </p>
                </div>

                <!-- Dokter Praktek Hari Ini -->
                <div class="flex flex-col w-full rounded-lg shadow-sm bg-white p-3 justify-center">
                    <div class="flex w-full items-start mb-3">
                        <p class="text-sky-500 font-medium text-5xl text-center">
                            {{ EventPromo }}
                        </p>

                        <span class="ml-auto cursor-pointer">
                            <i class="pi pi-arrow-up-right text-gray-600" style="font-size: 13px"></i>
                        </span>
                    </div>

                    <p class="text-gray-700 text-sm">
                        Produk
                    </p>
                </div>

                <!-- Tindakan Medis Hari Ini -->
                <div class="flex flex-col w-full rounded-lg shadow-sm bg-white p-3 justify-center">
                    <div class="flex w-full items-start mb-3">
                        <p class="text-sky-500 font-medium text-5xl text-center">
                            {{ EntertainmentApp }}
                        </p>

                        <span class="ml-auto cursor-pointer">
                            <i class="pi pi-arrow-up-right text-gray-600" style="font-size: 13px"></i>
                        </span>
                    </div>

                    <p class="text-gray-700 text-sm">
                        Mitra
                    </p>
                </div>
            </div>

            <div class="flex flex-col w-full gap-2">
                <p-button severity="info" label="Create New Customer" styleClass="p-button-sm w-full"
                    (onClick)="handleNavigateToGreetingCard()"></p-button>

                <p-button severity="secondary" label="Need Help? Contact Admin Now" styleClass="p-button-sm w-full"
                    (onClick)="handleCallAdmin()">
                </p-button>
            </div>
        </div>
    </div>
</app-dashboard>