<app-dashboard [ButtonNavigation]="ButtonNavigation" (onClickButtonNavigation)="handleClickButtonNavigation($event)">
    <div class="grid w-full bg-white rounded-lg shadow-sm p-3">
        <!-- Searchbox -->
        <div class="flex justify-end w-full mb-4">
            <div class="flex w-3/12">
                <input type="text" pInputText placeholder="Cari modul disini" class="p-inputtext-sm w-full">
            </div>
        </div>

        <div *ngIf="Module$ | async as module" class="grid grid-cols-3 gap-5">
            <div *ngFor="let item of module" class="flex w-full flex-col gap-3 p-3 justify-center items-center 
                bg-gray-50 rounded-lg shadow">

                <div class="flex w-full justify-between gap-2 items-center">
                    <p class="text-gray-700 font-semibold text-lg">
                        {{ item.module_name }}
                    </p>

                    <span class="text-sm cursor-pointer" (click)="op.toggle($event); SelectedModule = item">
                        <i class="pi pi-ellipsis-v"></i>
                    </span>
                </div>

                @if(item.icon) {
                <img [src]="item.icon" alt="icon" class="w-[120px] h-[120px]">
                } @else {
                <div class="w-[120px] h-[120px] bg-gray-300 rounded-xl"></div>
                }
            </div>

            <p-overlayPanel #op>
                <div class="flex flex-col p-3 gap-4">
                    <!-- Detail -->
                    <div class="flex items-center gap-3 cursor-pointer"
                        (click)="handleToolbarClick('detail', SelectedModule)">
                        <i class="pi pi-info-circle text-sky-500" style="font-size: 12px"></i>
                        <p class="text-sm text-gray-700 font-medium">
                            Detail
                        </p>
                    </div>

                    <!-- Maintenance -->
                    <div class="flex items-center gap-3 cursor-pointer"
                        (click)="handleToolbarClick('maintenance', SelectedModule)">
                        <i class="pi pi-wrench text-blue-500" style="font-size: 12px"></i>
                        <p class="text-sm text-gray-700 font-medium">
                            Maintenance
                        </p>
                    </div>

                    <!-- Edit Modul -->
                    <div class="flex items-center gap-3 cursor-pointer"
                        (click)="handleToolbarClick('edit', SelectedModule)">
                        <i class="pi pi-pencil text-yellow-500" style="font-size: 12px"></i>
                        <p class="text-sm text-gray-700 font-medium">
                            Edit Modul
                        </p>
                    </div>

                    <!-- Hapus Modul -->
                    <div class="flex items-center gap-3 cursor-pointer"
                        (click)="handleToolbarClick('hapus', SelectedModule)">
                        <i class="pi pi-trash text-red-500" style="font-size: 12px"></i>
                        <p class="text-sm text-gray-700 font-medium">
                            Hapus Modul
                        </p>
                    </div>
                </div>
            </p-overlayPanel>
        </div>
    </div>

    <!-- Dialog -->
    <p-dialog [header]="FormState == 'insert' ? 'Tambah Modul' : 'Ubah Modul'" [(visible)]="FormDialogToggle"
        [modal]="true" [style]="{ width: '35rem' }" [draggable]="false" [resizable]="false">

        <div class="grid w-full my-2">
            <app-dynamic-form #FormComps [props]="FormProps"></app-dynamic-form>
        </div>

        <ng-template pTemplate="footer">
            <p-button label="Batal" severity="secondary" styleClass="p-button-sm"
                (onClick)="FormDialogToggle = false" />

            <p-button label="Simpan" severity="success" styleClass="p-button-sm"
                (onClick)="FormState == 'insert' ? handleSave(FormComps.FormGroup.value) : handleUpdate(FormComps.FormGroup.value)">
            </p-button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog />
</app-dashboard>