<section class="w-full h-screen flex flex-col items-center justify-center bg-gray-100">
    <p class="text-7xl text-sky-500 font-semibold mb-5">
        Oops...
    </p>
    <p class="text-xl text-gray-700 font-medium">
        You are unauthorized to access this feature
    </p>
    <p class="text-lg text-gray-700 mb-5">
        Please contact Administrator or back to Home
    </p>

    <p-button styleClass="p-button-sm p-button-secondary bg-sky-600 text-white" label="Back To Home"
        (click)="backToBeranda()">
    </p-button>
</section>