<div class="grid w-full">
    <!-- Detail -->
    <div *ngIf="PageState == 'detail'" class="flex flex-col gap-0 p-3">
        <!-- Header -->
        <div class="flex w-full justify-between items-center mb-3">
            <p class="text-2xl font-semibold text-gray-700">
                Profil
            </p>

            <p-button severity="primary" label="Edit Profil" icon="pi pi-pencil"
                styleClass="p-button-sm p-button-outlined" (onClick)="handleChangePageState('edit', ProfileObject)">
            </p-button>
        </div>

        <!-- Form -->
        <div class="flex w-full flex-row gap-8 mb-2">
            <div class="w-2/12 flex h-full">
                <!-- No Photo -->
                <div *ngIf="!DetailProfile[0].value"
                    class="flex w-full items-center justify-center rounded-lg bg-gray-200 h-[15rem]">
                    <p class="text-sm text-gray-500 text-center">
                        No Photo
                    </p>
                </div>

                <!-- Photo -->
                <div *ngIf="DetailProfile[0].value"
                    class="flex w-full items-center justify-center rounded-lg bg-gray-200 h-[15rem]">
                    <img [src]="DetailProfile[0].value | safeUrl: 'url'" alt="photo"
                        class="w-full h-full rounded-md object-cover">
                </div>
            </div>

            <div class="w-10/12 flex flex-col gap-2">
                <div *ngFor="let item of DetailProfile"
                    class="{{ item.label == 'Photo' ? 'hidden' : 'flex' }} flex-row items-center mb-2">
                    <div class="w-3/12">
                        <p class="text-sm text-gray-600">
                            {{ item.label }}
                        </p>
                    </div>
                    <div class="w-9/12">
                        <p class="text-sm text-gray-800 font-medium">
                            {{ item.value }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit -->
    <div *ngIf="PageState == 'edit'" class="flex flex-col gap-0 p-3">
        <!-- Header -->
        <div class="flex w-full justify-between items-center mb-3">
            <p class="text-2xl font-semibold text-gray-700">
                Edit Profil
            </p>

            <div class="flex gap-4">
                <p-button severity="danger" label="Batal" icon="pi pi-times" styleClass="p-button-sm p-button-outlined"
                    (onClick)="PageState = 'detail'">
                </p-button>

                <p-button severity="success" label="Simpan" icon="pi pi-save" styleClass="p-button-sm"
                    (onClick)="handleUpdateProfile(FormComps.FormGroup.value)">
                </p-button>
            </div>
        </div>

        <div class="flex flex-row w-full my-2 gap-8">
            <div class="w-2/12 flex h-full">
                <!-- No Photo -->
                <div *ngIf="!DetailProfile[0].value && !ImagePreview"
                    class="flex flex-col w-full items-center justify-center rounded-lg bg-gray-200 h-[15rem] cursor-pointer"
                    (click)="FileInputEl.click()">
                    <p class="text-sm text-gray-500 text-center">
                        <i class="pi pi-upload"></i>
                    </p>
                    <p class="text-sm text-gray-500 text-center">
                        Klik untuk ganti foto
                    </p>
                </div>

                <!-- No Photo -->
                <div *ngIf="!DetailProfile[0].value && ImagePreview"
                    class="flex flex-col w-full items-center justify-center rounded-lg bg-gray-200 h-[15rem] relative">
                    <img [src]="ImagePreview" alt="photo" class="w-full h-full rounded-md object-cover">

                    <span class="bg-red-500 p-2 rounded-md absolute top-[10px] right-[10px] cursor-pointer"
                        (click)="ImagePreview = null">
                        <i class="pi pi-trash text-white" style="font-size: 12px"></i>
                    </span>
                </div>

                <input #FileInputEl [id]="'fileInputEl'" type="file" accept="image/*"
                    class="hidden p-inputtext-sm w-full readonlyState" (change)="handleChangeFileInput($event)" />

                <!-- Photo -->
                <div *ngIf="DetailProfile[0].value && !ImagePreview"
                    class="flex flex-col w-full items-center justify-center rounded-lg bg-gray-200 h-[15rem] cursor-pointer"
                    (click)="FileInputEl.click()">
                    <p class="text-sm text-gray-500 text-center">
                        <i class="pi pi-upload"></i>
                    </p>
                    <p class="text-sm text-gray-500 text-center">
                        Klik untuk ganti foto
                    </p>
                </div>


                <!-- Photo -->
                <div *ngIf="DetailProfile[0].value && ImagePreview"
                    class="flex w-full items-center justify-center rounded-lg bg-gray-200 h-[15rem] relative">
                    <img [src]="ImagePreview | safeUrl: 'url'" alt="photo"
                        class="w-full h-full rounded-md object-cover">

                    <span class="bg-red-500 p-2 rounded-md absolute top-[10px] right-[10px] cursor-pointer"
                        (click)="ImagePreview = null">
                        <i class="pi pi-trash text-white" style="font-size: 12px"></i>
                    </span>
                </div>
            </div>

            <div class="grid w-10/12">
                <app-dynamic-form #FormComps [props]="FormProps"></app-dynamic-form>
            </div>
        </div>
    </div>
</div>