<div *ngIf="props.showSearch && !props.isCustomSearch" class="flex items-center justify-end w-full mb-3">
    <div class="flex w-4/12">
        <input #KeywordSearch type="text" pInputText class="w-full p-inputtext-sm"
            [placeholder]="props.searchPlaceholder" (keyup.enter)="onSearchKeyword(KeywordSearch.value)">
    </div>
</div>

<!-- Show Search and Custom Search -->
<div *ngIf="props.showSearch && props.isCustomSearch"
    class="flex items-center justify-between w-full mb-4 pt-2 pb-3 border-b border-t-0 border-x-0 border-dashed border-gray-300">
    <!-- Custom Search -->
    <div class="grid grid-rows-1 {{ props.customSearchProps!.length > 3 ? 'grid-cols-4' : 'grid-cols-3'}} w-10/12 gap-3"
        [formGroup]="CustomSearchForm">
        <div *ngFor="let item of props.customSearchProps" class="grid w-full">
            <!-- Inputtext -->
            <input *ngIf="item.type == 'text'" type="text" pInputText class="p-inputtext-sm w-full"
                formControlName="{{ item.id }}" placeholder="{{ item.placeholder ? item.placeholder : '' }}" />

            <!-- Number -->
            <p-inputNumber *ngIf="item.type == 'number'" inputId="integeronly" class="p-inputtext-sm w-full"
                formControlName="{{ item.id }}">
            </p-inputNumber>

            <!-- Datepicker -->
            <p-calendar *ngIf="item.type == 'date'" appendTo="body" styleClass="p-inputtext-sm w-full"
                dateFormat="dd MM yy" [showClear]="true" formControlName="{{ item.id }}" [readonlyInput]="true"
                placeholder="{{ item.placeholder ? item.placeholder : '' }}">
            </p-calendar>

            <!-- Month Picker -->
            <p-calendar *ngIf="item.type == 'monthpicker'" appendTo="body" styleClass="p-inputtext-sm w-full"
                view="month" dateFormat="MM yy" [showClear]="true" formControlName="{{ item.id }}"
                [readonlyInput]="true" placeholder="{{ item.placeholder ? item.placeholder : '' }}">
            </p-calendar>

            <!-- Dropdown -->
            <p-dropdown *ngIf="item.type == 'dropdown'" [options]="item.dropdownProps!.options"
                [optionLabel]="item.dropdownProps!.optionName" [optionValue]="item.dropdownProps!.optionValue"
                [autoDisplayFirst]="false" [showClear]="true" [filter]="true" styleClass="p-inputtext-sm w-full"
                formControlName="{{ item.id }}" appendTo="body" [placeholder]="item.placeholder">
            </p-dropdown>
        </div>
    </div>

    <!-- Button -->
    <div class="flex gap-3">
        <p-button severity="info" label="Cari" styleClass="p-button-sm" (onClick)="onClickCustomSearch()">
        </p-button>

        <p-button severity="secondary" label="Export" styleClass="p-button-sm" (onClick)="onExportExcel()"></p-button>

        <p-button *ngFor="let item of props.additionalButtons" [severity]="item.severity" [label]="item.label"
            styleClass="p-button-sm" (onClick)="onClickAdditionalButton(item)">
        </p-button>
    </div>
</div>

<div class="grid w-full">
    <!-- Sort Mode -->
    <p-table *ngIf="props.showSort; else noSortMode" [value]="props.dataSource" [columns]="props.column"
        styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" selectionMode="single"
        [(selection)]="SelectedRow" sortMode="multiple" [paginator]="props.showPaging" [rows]="rows" [first]="first"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Menampilkan data ke {first} - {last} dari {totalRecords} data"
        (onPage)="onPageChanged($event)" [rowsPerPageOptions]="[5, 10, 25, 50, 100]">
        <ng-template pTemplate="header" let-columns>
            <tr class="bg-gray-100">
                <th *ngFor="let col of columns" class="text-sm" [pSortableColumn]="col.field">
                    {{ col.headerName }} <p-sortIcon [field]="col.field" style="font-size: 10px" />
                </th>
                <th *ngIf="props.toolbar" class="text-sm text-center">
                    Aksi
                </th>
            </tr>
        </ng-template>
        <ng-template *ngIf="props.dataSource" pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" (dblclick)="onRowDoubleClicked(rowData)" (click)="onCellClicked(rowData)">
                <td *ngFor="let col of columns" class="text-sm {{ col.class }}">
                    <span *ngIf="col.renderAsCheckbox && !col.renderAsPills">
                        <i class="pi {{ rowData[col.field] ? 'pi-check' : 'pi-times' }}"></i>
                    </span>

                    <span *ngIf="!col.renderAsCheckbox && col.renderAsPills" class="{{ col.pillClass }}">
                        <p class="text-sm">
                            {{ rowData[col.field] }}
                        </p>
                    </span>

                    <span *ngIf="!col.renderAsCheckbox && !col.renderAsPills">
                        @switch (col.format) {
                        @case ('html') {
                        <span [innerHtml]="rowData[col.field]"></span>
                        }
                        @case ('image') {
                        <p-avatar [image]="rowData[col.field]" size="large" shape="circle" />
                        }
                        @case ('currency') {
                        {{ handleFormatStringToNumber(rowData[col.field]) | currency: 'Rp. ' }}
                        }
                        @case ('date') {
                        {{ rowData[col.field] | date: 'dd-MM-yyyy' }}
                        }
                        @case ('monthpicker') {
                        {{ rowData[col.field] | date: 'MM yyyy' }}
                        }
                        @case ('number') {
                        {{ handleFormatStringToNumber(rowData[col.field]) | number: '' }}
                        }
                        @case ('icon_boolean') {
                        {{ handleRenderIconBoolean(rowData[col.field]) }}
                        }
                        @case (undefined) {
                        {{ getNestedValue(rowData, col.field) }}
                        }
                        @default {
                        {{ getNestedValue(rowData, col.field) }}
                        }
                        }
                    </span>
                </td>
                <td *ngIf="gridToolbar.length" class="text-center">
                    <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>

                    <p-overlayPanel #op>
                        <div class="flex flex-col gap-2 w-auto p-3">
                            @for (item of gridToolbar; track $index) {
                            <div class="flex items-center gap-2 p-2 bg-white hover:bg-gray-100 transition-all rounded-md cursor-pointer"
                                (click)="onAksiClicked(item.id, rowData)">
                                <i class="pi {{ item.icon }}" style="font-size: 13px"></i>
                                <span class="font-medium text-sm text-gray-700">
                                    {{ item.title }}
                                </span>
                            </div>
                            }
                        </div>
                    </p-overlayPanel>
                </td>
            </tr>
        </ng-template>
        <ng-template *ngIf="!props.dataSource">
            <div class="flex w-full justify-center">
                <p class="text-sm font-medium text-gray-700">
                    Tidak Ada Data Ditampilkan
                </p>
            </div>
        </ng-template>
    </p-table>

    <!-- No Sort Mode -->
    <ng-template #noSortMode>
        <p-table [value]="props.dataSource" [columns]="props.column" styleClass="p-datatable-striped"
            [tableStyle]="{'min-width': 'auto'}" selectionMode="single" [(selection)]="SelectedRow">
            <ng-template pTemplate="header" let-columns>
                <tr class="bg-gray-100">
                    <th *ngFor="let col of columns"
                        class="text-sm {{ col.renderAsCheckbox || col.renderAsPills ? 'text-center' : '' }}">
                        {{ col.headerName }}
                    </th>
                    <th *ngIf="props.toolbar" class="text-sm text-center">
                        Aksi
                    </th>
                </tr>
            </ng-template>
            <ng-template *ngIf="props.dataSource" pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" (dblclick)="onRowDoubleClicked(rowData)"
                    (click)="onCellClicked(rowData)">
                    <td *ngFor="let col of columns" class="text-sm {{ col.class }}"
                        [width]="col.width ? col.width : 'auto'">
                        <!-- Checkbox -->
                        <span *ngIf="col.renderAsCheckbox && !col.renderAsPills">
                            <i class="pi {{ rowData[col.field] ? 'pi-check' : 'pi-times' }}"></i>
                        </span>

                        <!-- Piils -->
                        <span
                            *ngIf="!col.renderAsCheckbox && col.renderAsPills && (col.field == 'status_order_name' || col.field == 'status')"
                            class="flex rounded-lg items-center justify-center font-semibold mx-auto {{ handleRenderStatusOrderManagement(rowData[col.field])[0] }}"
                            style="width: fit-content">
                            <p class="text-sm">
                                {{ handleRenderStatusOrderManagement(rowData[col.field])[1] | titlecase }}
                            </p>
                        </span>

                        <span *ngIf="!col.renderAsCheckbox && !col.renderAsPills">
                            @switch (col.format) {
                            @case ('html') {
                            <span [innerHtml]="rowData[col.field]"></span>
                            }
                            @case ('image') {
                            <p-avatar [image]="rowData[col.field]" size="large" shape="circle" />
                            }
                            @case ('currency') {
                            {{ handleFormatStringToNumber(rowData[col.field]) | currency: 'Rp. ' }}
                            }
                            @case ('date') {
                            {{ rowData[col.field] | date: 'dd-MM-yyyy' }}
                            }
                            @case ('number') {
                            {{ handleFormatStringToNumber(rowData[col.field]) | number: '' }}
                            }
                            @case ('icon_boolean') {
                            <span [innerHtml]="handleRenderIconBoolean(rowData[col.field])"></span>
                            }
                            @case (undefined) {
                            {{ getNestedValue(rowData, col.field) }}
                            }
                            @default {
                            {{ getNestedValue(rowData, col.field) }}
                            }
                            }
                        </span>
                    </td>
                    <td *ngIf="gridToolbar.length" class="text-center">
                        <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>

                        <p-overlayPanel #op>
                            <div class="flex flex-col gap-2 w-auto">
                                @for (item of gridToolbar; track $index) {
                                <div class="flex items-center gap-2 p-2 bg-white hover:bg-gray-100 transition-all rounded-md cursor-pointer"
                                    (click)="onAksiClicked(item.id, rowData)">
                                    <i class="pi {{ item.icon }}" style="font-size: 13px"></i>
                                    <span class="font-medium text-sm text-gray-700">
                                        {{ item.title }}
                                    </span>
                                </div>
                                }
                            </div>
                        </p-overlayPanel>
                    </td>
                </tr>
            </ng-template>
            <ng-template *ngIf="!props.dataSource">
                <div class="flex w-full justify-center">
                    <p class="text-sm font-medium text-gray-700">
                        Tidak Ada Data Ditampilkan
                    </p>
                </div>
            </ng-template>
        </p-table>

    </ng-template>
</div>