<app-dashboard>
    <div class="flex w-full items-start gap-3">
        <!-- Grid -->
        <div class="grid w-9/12 bg-white rounded-lg shadow-sm p-3">
            <div class="flex justify-between w-full items-center mb-3">
                <p class="text-gray-700 font-semibold text-lg">
                    Daftar User
                </p>

                <p-button severity="info" label="Tambah User" icon="pi pi-plus" styleClass="p-button-sm" (onClick)="onAddUserClick()"></p-button>
            </div>

            <app-grid [props]="GridProps" (cellClicked)="onCellClicked($event)"
                (rowDoubleClicked)="onRowDoubleClicked($event)" (aksiClicked)="onToolbarClicked($event)"
                (customSearchClicked)="onSearchGrid($event)" (pageChanged)="onPageChanged($event)">
            </app-grid>
        </div>

        <!-- Quick Access -->
        <div class="flex flex-col w-3/12 bg-gray-200 rounded-lg shadow-sm p-3">
            <div class="flex justify-between w-full items-center mb-3">
                <p class="text-gray-800 font-semibold text-xl">
                    Akses Cepat
                </p>
            </div>

            <div class="flex flex-col w-full gap-3 px-3">
                <p *ngFor="let item of QuickAccessDatasource" class="text-[#295AA3] font-medium text-sm cursor-pointer"
                    (click)="handleNavigate(item.path)">
                    {{ item.title }}
                </p>
            </div>
        </div>
    </div>

    <p-dialog header="Tambah User" [(visible)]="showUserForm" [style]="{width: '50vw'}" [modal]="true" [draggable]="false" [resizable]="false">
        <app-user-form (onClose)="onUserFormClose()" (onFormSubmit)="onUserFormSubmit($event)"></app-user-form>
    </p-dialog>

    <p-confirmDialog />

</app-dashboard>