<app-dashboard [ButtonNavigation]="ButtonNavigation" (onClickButtonNavigation)="handleClickButtonNavigation($event)">
    <!-- Grid -->
    <div class="grid w-full bg-white rounded-lg shadow-sm p-3">
        <div class="flex w-5/12 mb-4">
            <div class="w-4/12">
                <p class="text-sm text-gray-600">
                    Satuan Kerja
                </p>
            </div>
            <div class="w-8/12">
                <p class="text-sm text-gray-800 font-medium">
                    {{ SelectedSatker.unit_name }}
                </p>
            </div>
        </div>

        <p class="text-lg text-gray-800 font-semibold mb-2">
            Daftar Pejabat
        </p>

        <div class="flex w-full gap-3 items-center mb-4">
            <!-- Kelompok Jabatan Search -->
            <div class="flex flex-col w-2/12 gap-1">
                <p class="text-sm text-gray-700 font-medium">
                    Kelompok Jabatan
                </p>
                <p-dropdown [options]="KelompokJabatanDatasource" optionLabel="name" optionValue="job_category_id"
                    [(ngModel)]="job_category_id" styleClass="p-inputtext-sm w-full" [filter]="true" appendTo="body"
                    (onChange)="onSearchGrid('', job_category_id, start_date_position, end_date_position)">
                </p-dropdown>
            </div>

            <!-- Tanggal Mulai Search -->
            <div class="flex flex-col w-2/12 gap-1">
                <p class="text-sm text-gray-700 font-medium">
                    Tanggal Mulai
                </p>
                <p-calendar dateFormat="dd M yy" [(ngModel)]="start_date_position" styleClass="p-inputtext-sm w-full"
                    appendTo="body" [showClear]="true"
                    (onSelect)="onSearchGrid('', job_category_id, start_date_position, end_date_position)"
                    (onClear)="onSearchGrid('', job_category_id, start_date_position, end_date_position)">
                </p-calendar>
            </div>

            <!-- Tanggal Akhir Search -->
            <div class="flex flex-col w-2/12 gap-1">
                <p class="text-sm text-gray-700 font-medium">
                    Tanggal Akhir
                </p>
                <p-calendar dateFormat="dd M yy" [(ngModel)]="end_date_position" styleClass="p-inputtext-sm w-full"
                    appendTo="body" [showClear]="true"
                    (onSelect)="onSearchGrid('', job_category_id, start_date_position, end_date_position)"
                    (onClear)="onSearchGrid('', job_category_id, start_date_position, end_date_position)">
                </p-calendar>
            </div>
        </div>

        <app-grid [props]="GridProps" (cellClicked)="onCellClicked($event)"
            (rowDoubleClicked)="onRowDoubleClicked($event)" (aksiClicked)="onToolbarClicked($event)"
            (customSearchClicked)="onSearchGrid($event)" (pageChanged)="onPageChanged($event)">
        </app-grid>
    </div>

    <!-- Dialog -->
    <p-dialog [header]="FormState == 'insert' ? 'Tambah Pejabat' : 'Ubah Pejabat'" [(visible)]="FormDialogToggle"
        [modal]="true" [style]="{ width: '35rem' }" [draggable]="false" [resizable]="false">

        <div class="grid w-full my-2">
            <app-dynamic-form #FormComps [props]="FormProps"></app-dynamic-form>
        </div>

        <ng-template pTemplate="footer">
            <p-button label="Batal" severity="secondary" styleClass="p-button-sm"
                (onClick)="FormDialogToggle = false" />

            <p-button label="Simpan" severity="success" styleClass="p-button-sm"
                (onClick)="FormState == 'insert' ? handleSave(FormComps.FormGroup.value) : handleUpdate(FormComps.FormGroup.value)">
            </p-button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog />

</app-dashboard>