<app-dashboard [ButtonNavigation]="ButtonNavigation" (onClickButtonNavigation)="handleClickButtonNavigation($event)">
    <!-- Grid -->
    <div class="grid w-full bg-white rounded-lg shadow-sm p-3">
        <app-grid [props]="GridProps" (cellClicked)="onCellClicked($event)"
            (rowDoubleClicked)="onRowDoubleClicked($event)" (aksiClicked)="onToolbarClicked($event)"
            (customSearchClicked)="onSearchGrid($event)" (pageChanged)="onPageChanged($event)">
        </app-grid>
    </div>

    <!-- Dialog -->
    <p-dialog [header]="FormState == 'insert' ? 'Tambah User' : 'Edit User'" [(visible)]="FormDialogToggle"
        [style]="{width: '50vw'}" [modal]="true" [draggable]="false" [resizable]="false">
        <app-user-form [userData]="FormState == 'update' ? GridSelectedData : null" (onClose)="FormDialogToggle = false"
            (onFormSubmit)="FormState == 'insert' ? handleSave($event) : handleUpdate($event)">
        </app-user-form>
    </p-dialog>

    <!-- Dialog Reset Password -->
    <p-dialog header="Ganti Password User" [(visible)]="FormResetPasswordDialogToggle" [style]="{width: '40rem'}"
        [modal]="true" [draggable]="false" [resizable]="false">

        <div class="grid w-full gap-2">
            <p class="text-sm text-gray-700">
                Silahkan buat password baru untuk akun user. Mohon disimpan dan diberikan kepada pemilik akun.
            </p>

            <app-dynamic-form #FormResetPasswordComps [props]="FormResetPasswordProps"></app-dynamic-form>

            <div class="flex justify-end gap-3">
                <p-button severity="primary" label="Batal" styleClass="p-button-sm p-button-outlined"
                    (onClick)="FormResetPasswordDialogToggle = false">
                </p-button>

                <p-button severity="success" label="Simpan" styleClass="p-button-sm"
                    (onClick)="handleResetPassword(FormResetPasswordComps.FormGroup.value)"
                    [disabled]="!(MinLength && HasUppercase && HasLowercase && HasNumber && HasSpecialChar && HasSame)">
                </p-button>
            </div>

            <div class="flex flex-col w-full">
                <p class="text-gray-800 text-sm font-medium mb-3">
                    Ketentuan Password
                </p>

                <!-- MinLength -->
                <p class="{{ MinLength ? 'text-emerald-500' : 'text-gray-500' }} text-sm mb-2">
                    <i class="pi pi-{{ MinLength ? 'check' : 'times' }}" style="font-size: 12px"></i>&nbsp; Minimal 8
                    karakter
                </p>

                <!-- HasUppercase -->
                <p class="{{ HasUppercase ? 'text-emerald-500' : 'text-gray-500' }} text-sm mb-2">
                    <i class="pi pi-{{ HasUppercase ? 'check' : 'times' }}" style="font-size: 12px"></i>&nbsp;
                    Mengandung huruf besar (A–Z)
                </p>

                <!-- HasLowercase -->
                <p class="{{ HasLowercase ? 'text-emerald-500' : 'text-gray-500' }} text-sm mb-2">
                    <i class="pi pi-{{ HasLowercase ? 'check' : 'times' }}" style="font-size: 12px"></i>&nbsp;
                    Mengandung huruf kecil (a–z)
                </p>

                <!-- HasNumber -->
                <p class="{{ HasNumber ? 'text-emerald-500' : 'text-gray-500' }} text-sm mb-2">
                    <i class="pi pi-{{ HasNumber ? 'check' : 'times' }}" style="font-size: 12px"></i>&nbsp; Mengandung
                    angka (0–9)
                </p>

                <!-- HasSpecialChar -->
                <p class="{{ HasSpecialChar ? 'text-emerald-500' : 'text-gray-500' }} text-sm mb-2">
                    <i class="pi pi-{{ HasSpecialChar ? 'check' : 'times' }}" style="font-size: 12px"></i>&nbsp;
                    Mengandung simbol/karakter khusus (seperti ! &#64; # $ % ^ & *)
                </p>
            </div>
        </div>

    </p-dialog>

    <p-confirmDialog />

</app-dashboard>